@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'segoe ui', 'open sans', sans-serif;
}

.title-page{
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 700;
  font-size: 1.1rem;
  letter-spacing: -1px;

}

.title-pages{
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  letter-spacing: -1px;

}

.title{
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}


.sub-title{
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  color: #fff;
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-color: #525252;
  text-decoration-thickness: 4px;
  margin-top: 0.75rem;
  margin-bottom: 1rem;
}

.title-post{
  color: #ff63c3;
  font-weight: 400;
  font-size: 1rem;
}

.link{
  color: #ff63c3;
  text-decoration: none;
  cursor: pointer;
}

.link:hover{
  text-decoration: underline;
  text-underline-offset: 6px;
}

.underline-link:hover{
  text-decoration: underline;
  text-decoration-color: #ff63c3;
  text-underline-offset: 2px;
  text-decoration-thickness: 2px;

}

.underline-gray{
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-color: #525252;
  text-decoration-thickness: 4px;
}

.social-link:hover{
  background-color: rgba(20, 184, 165, 0.11)
}

.main-w{
  min-width: 500px;
  max-width: 500px;
}

.transition-all-1,
.transition-all-2,
.transition-all-3,
.transition-all-4,
.transition-all-5,
.transition-all-6{
    animation-name: just-get-in;
    animation-duration: 1s;
    animation-iteration-count: initial;
    opacity: 0;
    animation-fill-mode: forwards
}

.transition-all-2{
  animation-delay: 0.3s;
}

.transition-all-3{
  animation-delay: 0.6s;
}

.transition-all-4{

  animation-delay: 0.9s;
}

.transition-all-5{

  animation-delay: 1.2s;
}

.transition-all-6{

  animation-delay: 1.5s;
}

@keyframes just-get-in{
  from{
    position: relative;
    top: 20px;
    opacity: 0;
  }
  to{
    position: relative;
    top: 0px;
    opacity: 1;
  }
}
