@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'segoe ui', 'open sans', sans-serif;
}


.title-page{
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 500;
  line-height: 24px;
    font-size: 1.2rem;
  letter-spacing: -1px;

}

.title-pages{
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  letter-spacing: -1px;

}

.title{
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}

.background-nav{
  background-color: #88ccca;
  padding: 0.4rem;
  color: #525252;
  font-weight: 400;
}

.sub-title{
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-color: #525252;
  text-decoration-thickness: 4px;
  margin-top: 0.75rem;
  margin-bottom: 1rem;
}

.title-post{
  color: #ff63c3;
  font-weight: 400;
  font-size: 1rem;
}

.parraph{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.link{
  color: #ff63c3;
  text-decoration: none;
  cursor: pointer;
}

.link:hover{
  text-decoration: underline;
  text-underline-offset: 6px;
}

.underline-link:hover{
  text-decoration: underline;
  text-decoration-color: #ff63c3;
  text-underline-offset: 2px;
  text-decoration-thickness: 2px;

}

.underline-gray{
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-color: #525252;
  text-decoration-thickness: 4px;
}

.social-link:hover{
  background-color: rgba(20, 184, 165, 0.11)
}

.main-w{
  min-width: 450;
  max-width: 500px;
}

.transition-all-1,
.transition-all-2,
.transition-all-3,
.transition-all-4,
.transition-all-5,
.transition-all-6{
    animation-name: just-get-in;
    animation-duration: 1s;
    animation-iteration-count: initial;
    opacity: 0;
    animation-fill-mode: forwards
}

.transition-all-2{
  animation-delay: 0.3s;
}

.transition-all-3{
  animation-delay: 0.6s;
}

.transition-all-4{

  animation-delay: 0.9s;
}

.transition-all-5{

  animation-delay: 1.2s;
}

.transition-all-6{

  animation-delay: 1.5s;
}

@keyframes just-get-in{
  from{
    position: relative;
    top: 20px;
    opacity: 0;
  }
  to{
    position: relative;
    top: 0px;
    opacity: 1;
  }
}

.transition-all-out{
  animation-name: just-get-out;
  animation-duration: 1s;
  animation-iteration-count: initial;
  opacity: 0;
  animation-fill-mode: forwards
}

@keyframes just-get-out{
  from{
    position: relative;
    top: 0px;
    opacity: 1;
  }
  to{
    position: relative;
    top: 20px;
    opacity: 0;
  }
}

.menu-h{
  opacity: 1;
  margin: 0.1rem 0.6rem;
  display: flex;
  background-color: #2D3748;
  min-width: 220px;
  min-height: 160px;
  padding: 1rem;
  border-radius: 0.5rem;
  border: #555 solid 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px,rgba(0, 0, 0, 0.2) 0px 5px 10px,rgba(0, 0, 0, 0.4) 0px 15px 40px;
  --chakra-sizes-1: 0.25rem;
  transition: all 0.5s;
}

.menu-h-hidden{
  visibility: hidden;
  opacity: 0;
  transform: translate(50%, -50%) scale(0);
  margin: 0.1rem 0.6rem;
  display: flex;
  background-color: #2D3748;
  min-width: 220px;
  min-height: 160px;
  padding: 1rem;
  border-radius: 0.3rem;
  border: #555 solid 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px,rgba(0, 0, 0, 0.2) 0px 5px 10px,rgba(0, 0, 0, 0.4) 0px 15px 40px;
  --chakra-sizes-1: 0.25rem;
  transition: opacity 0.3s;
  transition: all 0.5s;
}

@media screen and (min-width: 768px) {
  .menu-h{
    display: none;
  }
 }

