@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Open Sans', sans-serif;
}

.body-light{
  background-color: #F0E7DB;
}

.body-dark{
  background-color: #212123;
}

.mainNavDark,
.mainNavlight{
  width: 100%;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
}

.mainNavDark{
  background: #20202380;
}


.title-page{
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 700;
  line-height: 24px;
  font-size: 17px;
  letter-spacing: -1px;

}

.link-page{
  font-size: 15px;
  font-weight: 300;
}

.title-pages{
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  letter-spacing: -1px;

}

.title-light,
.title{
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}

.title-light{
  color: #222;
}

.background-nav{
  background-color: #88ccca;
  padding: 0.4rem;
  color: #525252;
  font-weight: 400;
}

.sub-title-light,
.sub-title{
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-color: #525252;
  text-decoration-thickness: 4px;
  margin-top: 0.75rem;
  margin-bottom: 1rem;
}

.sub-title-light{
  color: #222;
}

.title-post{
  color: #ff63c3;
  font-weight: 400;
  font-size: 1rem;
}

.parraph-social,
.parraph-bio,
.parraph{
  text-indent: 17px;
  font-family: 'Open Sans', sans-serif;
  font-size: .95rem;
}

.parraph-bio{
  text-indent: 0px;
  margin-left: 17px;
}

.parraph-social{
  text-indent: 0px;
  margin-left: 0px;
  font-weight: 500;
}

.link{
  color: #ff63c3;
  text-decoration: none;
  cursor: pointer;
}

.link:hover{
  text-decoration: underline;
  text-underline-offset: 6px;
}

.underline-link-light:hover,
.underline-link:hover{
  text-decoration: underline;
  text-decoration-color: #ff63c3;
  text-underline-offset: 2px;
  text-decoration-thickness: 2px;
}

.underline-link-light:hover{
  text-decoration-color: #2C7B7A;
}

.underline-gray{
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-color: #525252;
  text-decoration-thickness: 4px;
}

.social-link:hover{
  background-color: rgba(20, 184, 165, 0.11)
}

.main-w{
  min-width: 450;
  max-width: 500px;
}


@media screen and (min-width: 960px) { 
  .img-cover{
    max-width: 200px;
    max-height: 120px;
    object-fit: fill;
  }
}

.hero-img {
  position: relative;
  top: 40px;
}

.model-img {
  position: relative;
  width: 420px;
  height: 380px;
  margin:0;
}

@media screen and (min-width: 960px) {
  .model-img {
    width: 500px;
    height: 450px;
  }
 }


.h-500{
  height: 400px;
}


.transition-all-1,
.transition-all-2,
.transition-all-3,
.transition-all-4,
.transition-all-5,
.transition-all-6{
    animation-name: just-get-in;
    animation-duration: 1s;
    animation-iteration-count: initial;
    opacity: 0;
    animation-fill-mode: forwards
}

.transition-all-2{
  animation-delay: 0.3s;
}

.transition-all-3{
  animation-delay: 0.6s;
}

.transition-all-4{

  animation-delay: 0.9s;
}

.transition-all-5{

  animation-delay: 1.2s;
}

.transition-all-6{

  animation-delay: 1.5s;
}

@keyframes just-get-in{
  from{
    position: relative;
    top: 20px;
    opacity: 0;
  }
  to{
    position: relative;
    top: 0px;
    opacity: 1;
  }
}

.transition-all-out{
  animation-name: just-get-out;
  animation-duration: 1s;
  animation-iteration-count: initial;
  opacity: 0;
  animation-fill-mode: forwards
}

@keyframes just-get-out{
  from{
    position: relative;
    top: 0px;
    opacity: 1;
  }
  to{
    position: relative;
    top: 20px;
    opacity: 0;
  }
}

.menu-h{
  opacity: 1;
  margin: 0.1rem 0.6rem;
  display: flex;
  min-width: 220px;
  min-height: 160px;
  padding: 1rem;
  border-radius: 0.5rem;
  --chakra-sizes-1: 0.25rem;
  transition: all 0.5s;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px,rgba(0, 0, 0, 0.2) 0px 5px 10px,rgba(0, 0, 0, 0.4) 0px 15px 40px;
}

.menu-h-dark{
  background-color: #2D3748;
  border: #555 solid 1px;
}

.menu-h-light{
  background-color: #FFFEFE;
  border: #ddd solid 1px;
}

.menu-h-hidden{
  visibility: hidden;
  opacity: 0;
  transform: translate(50%, -50%) scale(0);
  margin: 0.1rem 0.6rem;
  display: flex;
  min-width: 220px;
  min-height: 160px;
  padding: 1rem;
  border-radius: 0.3rem;
  --chakra-sizes-1: 0.25rem;
  transition: opacity 0.3s;
  transition: all 0.5s;
}

@media screen and (min-width: 768px) {
  .menu-h{
    display: none;
  }
 }

 .transition-mode{
  animation-name: mode-on;
  animation-duration: .3s;
  animation-iteration-count: initial;
  opacity: 0;
  animation-fill-mode: forwards
}

@keyframes mode-on{
  from{
    position: relative;
    color: transparent;
    bottom: 40px;
    transform: blur(5px);
    opacity: 0;
  }
  to{
    position: relative;
    bottom: 0px;
    opacity: 1;
  }
}

/* spinner */

.spinner {
  width: 40px;
  height: 40px;
  background-color: #81E7D8;

  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}